.bottomBar{
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    min-width:360px;
    max-width:414px;
    height:7.2rem;
    min-height:7.2rem;
    padding-left:20px;
    padding-right:20px;
    background-color:#fff;
    box-shadow:0px 2px 8px rgba(0,0,0,20%);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    z-index:100;
}
.menuBox{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:12px;
    padding-bottom:12px;
}

.listMenu a,
.listMenu span{
    display:block;
}
.listMenu .menuIcon{
    width:3.2rem;
    height:3.2rem;
    margin:0 auto;
}
.listMenu .recordBg{
    background:url("../../assets/images/icones/icoRecordbg.png") no-repeat 0 0 / 32px;
}
.listMenu .recordBg.active{
    background-position: 0 -40px;
}
.listMenu .menuIcon *{
    width:100%;
}
.listMenu.icoMy .menuIcon svg{
    width:44px;
    height:44px;
    margin-left:-5px;
    margin-top:-5px;
}
.listMenu .menuName{
    color:#999;
    font-size:1rem;
    text-align:center;
}
.listMenu .menuName.active{
    color:#1EC41E;
}