/* reset */
@charset "utf-8";
/**
 * --------------------------------
 * reset CSS
   creator : 
 * --------------------------------
*/

/* 웹폰트 - NotoSansKR */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 200;
  src: url("assets/font/NotoSansKR-DemiLight.eot");
  src: url("assets/font/NotoSansKR-DemiLight.eot?#iefix") format("embedded-opentype"),
    url("assets/font/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("assets/font/NotoSansKR-DemiLight.woff") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url("assets/font/NotoSansKR-Regular.eot");
  src: url("assets/font/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
    url("assets/font/NotoSansKR-Regular.woff2") format("woff2"),
    url("assets/font/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: url("assets/font/NotoSansKR-Medium.eot");
  src: url("assets/font/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
    url("assets/font/NotoSansKR-Medium.woff2") format("woff2"),
    url("assets/font/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 600;
  src: url("assets/font/NotoSansKR-Bold.eot");
  src: url("assets/font/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
    url("assets/font/NotoSansKR-Bold.woff2") format("woff2"),
    url("assets/font/NotoSansKR-Bold.woff") format("woff");
}

/* 웹폰트 - Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("assets/font/Roboto-Regular.eot");
  src: url("assets/font/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("assets/font/Roboto-Regular.woff2") format("woff2"),
    url("assets/font/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("assets/font/Roboto-Medium.eot");
  src: url("assets/font/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("assets/font/Roboto-Medium.woff2") format("woff2"),
    url("assets/font/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("assets/font/Roboto-Black.eot");
  src: url("assets/font/Roboto-Black.eot?#iefix") format("embedded-opentype"),
    url("assets/font/Roboto-Black.woff2") format("woff2"),
    url("assets/font/Roboto-Black.woff") format("woff");
}


/* style reset */
html {
  font-size: 10px;
}

html,
body,
div,
p,
iframe,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
span,
b,
em,
var,
label,
legend,
ul,
ol,
li,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
caption,
form,
fieldset,
input,
textarea,
sub,
sup,
img,
a,
del,
button,
pre,
header,
footer,
section,
article,
aside,
figure,
figcaption {
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}

/* list style reset */
ul,
ol,
li {
  list-style: none;
}

/* tag style reset */
button {
  display: inline-block;
  background: transparent;
  cursor: pointer;
}

button[disabled="disabled"] {
  cursor: default !important;
}

img {
  vertical-align: top;
}

img,
button,
fieldset,
table {
  border: 0;
}

/* button svg{max-width:100%;max-height:100%;} */
em,
address,
del {
  font-style: normal;
}

label,
a {
  display: inline-block;
}

strong,
em {
  font-weight: 600;
}

/* form reset */
input,
select,
label,
button,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: transparent;
  color: #2e2e2e;
  font-size: 1.4rem;
  line-height: normal;
  font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  vertical-align: middle;
}

/* table reset */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  word-break: keep-all;
  word-wrap: break-word;
}

/* a link reset */
a {
  border: 0;
  color: #2E2E2E;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.on {
  height: auto;
  text-indent: inherit;
  background-image: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  visibility: hidden;
}

* {
  scrollbar-color: #999 #D5D5D5;
  scrollbar-width: thin;
}

/* firefox scrollbar */

/* body, html */
html,
body {
  margin: 0;
}

body {
  background: #363636;
  color: #ffffff;
  line-height: normal;
  font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  font-weight: 400;
  -webkit-word-break: break-all;
  -moz-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
}

/* 대체텍스트  숨김처리 */
legend,
.hidden,
.hide {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}

/* 모바일 caption colgroup width 인식 오류를 피하기 위해 caption 안에 span을 넣어서 숨김처리 - table 태그를 사용할 경우 */
caption {
  position: relative;
}

caption>span {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}

/* layoutWrap */
#layoutWrap {
  position: relative;
  background-color: #181816;
  color: #ffffff;
  min-width: 360px;
  max-width: 414px;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  padding-bottom: 30px;
}

.swiper {
  width: 100%;
  height: 280px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}